body{border: solid red 7 px;
    font-family: ;
    text-align: ;
    font-family: 'Abril Fatface', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'ZCOOL QingKe HuangYou', cursive;
margin: 0;
}


span{
    color: cornflowerblue;
    font-size: larger;
}
.h3{
    font-size:larger ;
}
.h33{
    padding-top: 10px;
}
.h11{
    font-size: xx-large;
    color: cornflowerblue;
}
 .first-sec{
     display: flex;
     background-image: url(hello.png.png);
     background-repeat: no-repeat;
 }

 .div1{
     width: 50%;
     margin-top: 150px;
     padding-left: 70px;
     
 }

 .div2{
     width: 50%;
    
     padding-left: 110px;
     margin-top: 130px;
 }

 .div2 img{
     width: 77%;
 }
 
 .first-link{
     text-decoration: none;
     font-size: x-large;
     color: black;
     padding: 9px 20px;
     background-image: linear-gradient(blue,pink);
     border-radius: 10px;
    
 }
 .h22{
     text-align: center;
     font-size: xx-large;

 }

 .div5{
     width: 25%;
     background-color: antiquewhite;
     margin-left: 9%;
     margin-right: 5%;
     padding-left: 2%;
     padding-right: 2%;
     box-shadow: 10px 8px  10px  6px blue;
     border-radius: 10px;
    
 }
 .div5 img{
     width: 35%;
 }
 .div5{
     font-size: larger;
 }
 

 
 .div6{
    width: 25%;
    background-color:azure;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 8px  10px 5px pink;
    border-radius: 10px;
   
}
.div6 img{
    width: 35%;
}
.div6{
    font-size: larger;
}


.div7{
    width: 25%;
    background-color:wheat;
    margin-left: 5%;
    margin-right: 9%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 8px  11px 7px blue;
    border-radius: 10px;
    
   
}
.div7 img{
    width: 35%;
}
.div7{
    font-size: larger;
}

.divall{
    display: flex;
    margin-top: 5%;
}
.sec2{
    background-image: url(png2.png);
    background-repeat: no-repeat;
   
}

.sec3{
    margin-top: 9%;
}

.div10 img{
    width: 70%;
}

.div10{
    width: 50%;
    margin-top: 150px;
    padding-left: 350px;
    
}

.div11{
  
  
    width: 50%;
    
    padding-right: 210px;
    margin-top: 230px;
   
    
}

.sec3{
    display: flex;
}

.boro{
    font-size: xx-large;
}

.sec3{
    background-image: url(y.png.png);
    background-repeat: no-repeat;
}

.sec4{
    display: flex;
    background-image: url(jail.png);
    background-repeat: no-repeat;
}

.div67{
   
    width: 50%;
    
    padding-left: 210px;
    margin-top: 230px;
   
}


.div68{
    width: 50%;
    margin-top: 150px;
    padding-right: 20px;
    margin-left: 40px;


}
.div68 img{
    width: 60%;
}

.div67 h1{
    font-size: xx-large;
}

.kem{
    text-align: center;
    font-size: xx-large;
    

}

.sec5{
    margin-top: 10%;
    background-image: url(baby.png);
    background-repeat: no-repeat;
}

.divver{
    display: flex;
    
}

.div99{
    width: 50%;
    margin-top: 150px;
    padding-left: 350px;

}
.div99 img{
    width: 70%;   
}

.div100{
    width: 50%;
    
    padding-right: 210px;
    margin-top: 230px;
   
}

footer h2{
    text-align: center;
    padding-top: 150px;
}

footer h5{
    text-align: center;
    padding-top: 50px;
}

footer{
    margin-top: 10%;
    padding-bottom: 60px;
    background-color: antiquewhite;
}