body{border: solid red 7 px;
    font-family: ;
    text-align: ;
    font-family: 'Abril Fatface', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'ZCOOL QingKe HuangYou', cursive;
margin: 0;}


span{
    color: cornflowerblue;
    font-size: larger;
}
.h3{
    font-size:larger ;
}
.h33{
    padding-top: 10px;
}
.h11{
    font-size: xx-large;
    color: cornflowerblue;
}
 .first-sec{
     display: flex;
     background-image: url(hello.png.png);
     background-repeat: no-repeat;
 }

 .div1{
     width: 50%;
     margin-top: 150px;
     padding-left: 70px;
     
 }

 .div2{
     width: 50%;
    
     padding-left: 110px;
     margin-top: 130px;
 }

 .div2 img{
     width: 77%;
 }
 
 .first-link{
     text-decoration: none;
     font-size: x-large;
     color: black;
     padding: 9px 20px;
     background-image: linear-gradient(blue,pink);
     border-radius: 10px;
    
 }
